extends layout

block content
    form(name="login", method="post")
        div.container.d-flex.justify-content-center
            div.col-md-6
                div.card
                    h5.card-header Login Organizer
                    div.card-body.row
                        div.col-sm-12
                            div.form-group.row
                                label.col-form-label.col-md-3 Username 
                                input.form-control.col-md-9(type="text", name="username", placeholder="Username...")
                            div.form-group.row
                                label.col-form-label.col-md-3 Password
                                input.form-control.col-md-9(type="password", name="password", placeholder="Password...")
                            div.form-group.row
                                input.btn.btn-primary.col-md-12(type="submit", value="Login")
